/*install Mexcellent font regular and 3d*/
@font-face {
font-family: "mexcellent3d";
src: url("./fonts/mexcellent3d.ttf");
src:
url("./fonts/mexcellent3d.ttf") format("ttf"),
url("./fonts/mexcellent3d.ttf") format("opentype"),
url("./fonts/mexcellent3d.svg#filename") format("svg");
}
@font-face {
  font-family: "mexcellentrg";
  src: url("./fonts/mexcellentrg.ttf");
  src:
  url("./fonts/mexcellentrg.ttf") format("ttf"),
  url("./fonts/mexcellentrg.ttf") format("opentype"),
  url("./fonts/mexcellentrg.svg#filename") format("svg");
}

/* this main style rule is for testing purposes only 
main {
    background-color: salmon;
} */

/* general style rules */
h1.mexcellent {
	font-family: mexcellent3d;
  font-size: 2rem;
  text-align: center;
  border: 2px red solid;
}

h2 {
  color: white;
}

/* button style rules */
.btn, .btn-secondary {
  background-color: #002a32 !important;
  color: #bae4ed !important;
}

.btn:hover {
  background-color: #bae4ed !important;
  color: #002a32 !important;
}

/* navigation & menu bar style rules */
.kid {
  display: inline-flex;
}

/* mailchimp modal/popup style rules */

/* cover section style rules */

/* this rule affects the text portion */
.cover { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40rem;
  z-index: 1;
}

/* this essentially creates a new layer behind the text for the cover image */
.cover::after {
  height: 40rem;
  background-image: url("./images/arne_pushup_cover.jpg");
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}

/* solid-colored background section style rules */
.solid {
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 8rem 4rem; */
  margin: 0px -15px;
}

/* benefits section style rules */
.benefits {
  height: 30rem;
  background-color: #eee8aa;
  padding-left: 4rem;
  padding-right: 4rem;
}

.vector {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  overflow: hidden;
  padding-top: 20px;
}

.vector img {
  width: auto;
  height: 100px;
}

.benefits h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* TESTIMONIALS section style rules  */
.testimonials {
  height: 40rem;
  background-color: #bae4ed;
}

/* TEXT_BLOCK section style rules */

.text_block {
  height: 35rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
}

.green {
  background-color: #bdd2a6;
}

.text_block h3 {
  font-size: 6rem;
}

.text_block p {
  font-size: 40px;
}

.blue {
  background-color: #ff8c69;
}





