/*install Mexcellent font regular and 3d*/
@font-face {
font-family: "mexcellent3d";
src: url("./fonts/mexcellent3d.ttf");
src:
url("./fonts/mexcellent3d.ttf") format("ttf"),
url("./fonts/mexcellent3d.ttf") format("opentype"),
url("./fonts/mexcellent3d.svg#filename") format("svg");
}
@font-face {
  font-family: "mexcellentrg";
  src: url("./fonts/mexcellentrg.ttf");
  src:
  url("./fonts/mexcellentrg.ttf") format("ttf"),
  url("./fonts/mexcellentrg.ttf") format("opentype"),
  url("./fonts/mexcellentrg.svg#filename") format("svg");
}

/* this main style rule is for testing purposes only 
main {
    background-color: salmon;
} */

h1.mexcellent {
	font-family: mexcellent3d;
  font-size: 72px;
  text-align: center;
  border: 2px red solid;
}

h3 {
  color: white;
}

/* rule for cover section of website */
/* this affects the text portion of the cover sectio*/
.cover {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40rem;
  z-index: 1;
}

/* this essentially creates a new layer behind the text for the cover image */
.cover::after {
  height: 40rem;
  background-image: url("./images/arne_pushup_cover.jpg");
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}

.benefits {
  height: 40rem;
  background-color: palegoldenrod;
  display: flex;
}


.kid {
  display: inline-flex;
}

.icon {
  display: flex;
  justify-content: center;
}

